*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to top, #0b99a3 0%, #3c75ba 100%);
    height: 100vh;
}

#container{
    max-width: 600px;
    background-color: #dfdfdf;
    height: auto;
    padding: 20px;
    border: none;
    border-radius: 6px;
}

h1{
    text-align: center;
}

.heading{
    background-color: #0b99a3;
    padding: 10px 20px;
    border-radius: 5px 5px 0 0;
    position: relative;
    color: #fff;
    margin-top: 10px;
    text-align: start;
}

.heading::before{
    content: "+";
    position: absolute;
    right: 10px;
    transition: all 0.3s;
}

.heading.active::before{ 
    content: "-";
    position: absolute;
    right: 10px;
    transform: rotate(180deg);
    transition: transform 0.3s;
}

.content{
    background-color: white;
    border-radius: 0 0 5px 5px;
    height: 0;
    overflow: hidden;
    transition: all 0.3s;
}

.content.active{
    background-color: white;
    border-radius: 0 0 5px 5px;
    padding: 10px;
    height: auto;
    transition: all 0.3s;
    
}